@import 'normalize-scss';
@include normalize();

.App {
  font-family: 'Righteous', cursive;

  header {
    font-size: 64px;
    text-align: center;
  }

  .grid {
    width: 500px;
    height: 500px;
    background-color: #840;
    position: relative;
    margin: auto;
    border-radius: 10px;

    .slot {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: #c84;
      border-radius: 10px;
    }

    .tile {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: #8a8; // 512+
      transition: top 0.2s, left 0.2s;
      line-height: 100px;
      font-size: 48px;
      text-align: center;
      border-radius: 10px;

      &.value-2 {
        background-color: #aaf;
      }
      &.value-4 {
        background-color: #afa;
      }
      &.value-8 {
        background-color: #aff;
      }
      &.value-16 {
        background-color: #ffa;
      }
      &.value-32 {
        background-color: #aa8;
      }
      &.value-64 {
        background-color: #8a8;
      }
      &.value-128 {
        background-color: #88a;
      }
      &.value-256 {
        background-color: #a88;
      }
      &.value-512 {
        background-color: #8a8;
      }
    }
  }
}
